---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import StackSection from '../components/StackSection.astro';
import MarqueeBanner from '../components/MarqueeBanner.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <MarqueeBanner />
    <ProjectsGrid />
    <StackSection />
  </main>
  <Footer />
</Layout>
